In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
data = pd.read_csv("daily_weather.csv")

In [3]:
data.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [4]:
data.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [5]:
del data['number']

In [6]:
data.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [7]:
before_rows=data.shape[0]
before_rows

1095

In [8]:
data = data.dropna()

In [9]:
after_rows = data.shape[0]

In [10]:
after_rows

1064

In [11]:
before_rows - after_rows

31

In [12]:
clean_data = data.copy()

In [13]:
clean_data['high_humidity_label'] = (clean_data['relative_humidity_3pm']>24.99)*1

In [14]:
clean_data['high_humidity_label'].head()

0    1
1    0
2    0
3    0
4    1
Name: high_humidity_label, dtype: int64

In [15]:
clean_data['relative_humidity_3pm'].head()

0    36.160000
1    19.426597
2    14.460000
3    12.742547
4    76.740000
Name: relative_humidity_3pm, dtype: float64

In [16]:
y = clean_data[['relative_humidity_3pm']].copy()
y.head()

   relative_humidity_3pm
0              36.160000
1              19.426597
2              14.460000
3              12.742547
4              76.740000

In [17]:
clean_data['relative_humidity_3pm'].head()

0    36.160000
1    19.426597
2    14.460000
3    12.742547
4    76.740000
Name: relative_humidity_3pm, dtype: float64

In [18]:
morning_features = ['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am', 'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am', 'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am']

In [19]:
x = clean_data[morning_features]

In [20]:
x.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000
1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000

In [21]:
y.columns

Index(['relative_humidity_3pm'], dtype='object')

In [22]:
x.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am'],
      dtype='object')

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=324)

In [36]:
x_train.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am
841,918.370000,72.932000,184.500000,2.013246,186.700000,2.773806,0.0,0.0,8.810000
75,920.100000,53.492000,186.100000,13.444009,193.800000,15.367778,0.0,0.0,31.470000
95,927.610000,54.896000,55.000000,4.988376,53.400000,7.202947,0.0,0.0,13.510000
895,919.235153,65.951112,194.343333,2.942019,216.569792,3.658810,0.0,0.0,14.073504
699,919.888128,68.687822,228.517730,3.960858,247.954028,5.185547,0.0,0.0,14.492839

In [25]:
x_test.shape[0]

352

In [37]:
y_train.head()

     relative_humidity_3pm
841              16.030000
75               64.880000
95               14.050000
895              17.766646
699              20.986751

In [27]:
y_test.shape[0]

352

In [28]:
type(x_train)

pandas.core.frame.DataFrame

In [29]:
type(x_test)

pandas.core.frame.DataFrame

In [30]:
type(y_test)

pandas.core.frame.DataFrame

In [31]:
type(y_train)

pandas.core.frame.DataFrame

In [32]:
y_train.describe()

       relative_humidity_3pm
count             712.000000
mean               35.106106
std                22.459052
min                 5.300000
25%                17.418580
50%                24.170000
75%                51.987500
max                92.250000

In [33]:
humidity_classifier = DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)
type(humidity_classifier)

sklearn.tree.tree.DecisionTreeClassifier

In [34]:
humidity_classifier

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=10,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [35]:
humidity_classifier.fit(x_train, y_train)

ValueError: Unknown label type: 'continuous'

In [62]:
predictions = humidity_classifier.predict(x_test)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.